:root{
    --color1: #122b08;
    --color2: #126042;
    --color3: #ec6351;
    --color4: #ecc85a;
    --color5: #f8efc4;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif; 
    font-size:16px;
}



/*.color1 {color: #122b08;}
.color2 {color: #126042;}
.color3 {color: #ec6351;}
.color4 {color: #ecc85a;}
.color5 {color: #f8efc4;}


.color1 {color: #f8c0ca;}
.color2 {color: #f6d4a0;}
.color3 {color: #122f60;}
.color4 {color: #126a5d;}
.color5 {color: #7db97d;}*/



/*Basic styling Menu*/

#navbar {
    z-index: 3;
}

nav {
    background: var(--color1); 
    padding: 0 15px; 
}
nav a {
    color: white; 
    text-decoration: none;
}
.menu,
.submenu {
    list-style-type: none;
}
.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0; 
}
.item {
    padding: 10px; 
}
.item.button {
    padding: 9px 5px; 
}
.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc; 
}

/*Mobile menu*/ 
.menu {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu li a {
    display: block;
    padding: 15px 5px; 
}
.menu li.subitem a {
    padding: 15px; 
}
.toggle {
    order: 1;
    font-size: 20px; 
}
.item.button {
    order: 2; 
}
.item{
    order: 3; 
    width: 100%;
    text-align: center;
    display: none;
}
.active .item {
    display: block; 
}
.button.secondary {/*divider between butoons and menu links*/
    border-bottom: 1px solid #444; 
}

/*Submenu up from mobile screens*/
.submenu {
    display: none;
}
.submenu-active .submenu {
    display: block;
}
.has-submenu i {
    font-size: 12px;
}
.has-submenu > a::after { /*little down arrow*/
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900; 
    content: "\f078";
    color: white;
    padding-left: 5px;
}
.subitem a {
    padding: 10px 15px;
}
.submenu-active {
    background-color: var(--color2);
    border-radius: 3px;
}


/*Table menu*/
@media all and (min-width: 700px){
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1; 
    }
    .item.button {
        width: auto; 
        order: 1; 
        display: block;
    }
    .toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }
    /*Button up from table screen*/
    .menu li.button a {
        padding: 10px 15px;
        margin: 5px 0; 
    }
    .button a {
        background: var(--color3); 
        border: 1px solid var(--color3); 
    }
    .button.secondary {
        border: 0;
    }
    .button.secondary a {
        background: transparent;
        border: 1px var(--color3) solid;  
    }
    .button a:hover {
        text-decoration: none;
        background: var(--color3);
    }
    .button:not(.secondary) a:hover {
        background: #122b08;
        border-color: var(--color3);
    }
}

/* Desktop menu */
@media all and (min-width: 960px) {
    .menu {
        align-items: flex-start;     
        flex-wrap: nowrap;
        background: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
        position: relative;
        display: block; 
        width: auto;
    }
    .button {
        order: 2;
    }
    .submenu-active .submenu {
        display: block;
        position: absolute;
        left: 0;
        top: 68px;
        background: var(--color2);
        z-index:5; 
    }
    .toggle {
        display: none;
    }
    .submenu-active {
        border-radius: 0;
    }
}


/* make the navbar sticky*/
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }



/* Section home*/

#home {
    background-image: url(/assets/masha-rostovskaya-Cngzg6CiEU8-unsplash.jpg); 
    height:800px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 115px;
    display: flex; 
    flex-direction: column;
    justify-content:space-between;
    align-items: center; 

}

#home h1, #home h2{
    color: var(--color5); 
    text-align: center;
}

#home h1{
    padding-top: 35px;
    font-size:3.5rem; 
    padding-bottom: 15px;
}



#home button {
    padding: 10px 15px;
    margin: 5px 0; 
    background: transparent; 
    border: 1px solid var(--color1);  
    color: var(--color1);
    font-size: 16px; 
}

#home button:hover{
    background-color: var(--color5); 
}

/*About section */
#about{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}


.about-left h2 {
    display: none;
    font-size: 4rem;
    margin: auto;
}

.about-middle h2{
    font-size: 2.5rem; 
}


.about-middle {
    background: var(--color5);
    flex: 50%;
    padding: 80px 70px; 
}

.about-middle p {
    padding: 10px 0; 
    text-align: justify; 
    line-height: 2em;
}



@media all and (min-width: 960px){
    .about-middle h2{
        display: none; 
    }
    .about-left {
        background: var(--color2);
        flex: 25%;
        display: flex;
        justify-content: center;
    }

    .about-left h2{
        display:block;
        text-orientation: upright;
        writing-mode: vertical-lr;
    }

    .about-right{
        background: var(--color3); 
        flex: 25%;
    }



}